.header-blue {
    background-color: #003f9c;
    min-height: 50px;
}

.footer-blue {
    background-color: #003f9c;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 14px;
    font-weight: 700;
}


.container {
    display: flex;
    padding: 15px;
    margin: auto;
}
